

<%- include("./partial/header.ejs") %> 
<body>
    
    <div class="main">
        <div class="navbar">
            <h2 class="logo">MediSolution</h2>       
        </div> 

        <%- include("./partial/navbar1.ejs") %> 
        <div  class="prescriptiontable">
            <table>
                <thead>
                    <tr class="p">
                        <th>Patient Name</th>
                        <th>Date</th>
                        <th>Prescription</th>
                    
                    </tr>
                </thead>

                <% data.lines.forEach(line=>{ %>
                    <tbody>
                        <tr>
                            <td><%= line.patient_name %> </td>
                            <td><%= line.consultation_date %> </td>
                            <td><%= line.prescription %> </td>
                        </tr>
                    </tbody>

                <% } ) %> 

            </table>
        </div>
    </div>
</body>
</html>